<% if(messages != undefined) { %>
	<div class="message-list inbound-message row">
		<%for(var i = 0 ; i < messages.length; i++) {%>
			<% if(messages[i].from == nodeId) {%>
				<div class="col-5"><%=messages[i].to%></div><div class="col-3"><%=messages[i].message%></div><div class="col-1">Outbound</div><div class="col-1"><%=messages[i].count%></div><div class='col-2'><%=messages[i].type%></div>
			<%} %>
		<%}%>
	</div>
<% } %>

<% if(messages != undefined) { %>
	<div class="message-list inbound-message row">
		<%for(var i = 0 ; i < messages.length; i++) {%>
			<% if(messages[i].to == nodeId) {%>
				<div class="col-5"><%=messages[i].from%></div><div class="col-3"><%=messages[i].message%></div><div class="col-1">Inbound</div><div class="col-1"><%=messages[i].count%></div><div class='col-2'><%=messages[i].type%></div>
			<%} %>
		<%}%>
	</div>
<% } %>